*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    width: 1700px;
    max-width: 100%;
    height: 100px;
    margin: 0 auto;
/*    border: 3px solid red;*/
    position: relative;
    box-sizing: border-box;
    align-items: center;
    background: #fff;

}



.logo{
    display: flex;
    width: 100%;
    max-width: 1225px;
/*    border: 5px solid #000;*/
    justify-content: space-between;
    flex-direction: row;
    margin: 25px auto;
    align-items: center;
    
}



.header_top_links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 850px;
    
    
}


.header_top_links ul{
    
    
}


.header_top_links a{
    text-decoration: none;
    font-size: 13.5px;
    color: #868686;
    transition: 0.6s;
    padding: 10px 18px;
    border-radius: 5px;
    text-transform: uppercase;
    
    
    
}

.header_top_links a:hover{
    background: #FFBB42;
    color: #FFF;
}



.banner{
    width: 1700px;
    max-width: 100%;
    height: 590px;
    background: #709DCA;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.baner_text{
    color: #fff;
    margin-top: 110px;
    border-radius: 2px;
    
}


.baner_text h1{
    font-size: 35px;
    margin: 0 60px;
    
}


.baner_text p{
    font-size: 16px;
}

.request{
    margin-top: 37px;
    width: 1090px;
/*    border: 3px solid #000;*/
    display: flex;
    justify-content: space-between;
    
    
    
}


[class^="input"]{
/*    padding: 0 20px;*/
    width: 280px;
    height: 43px;
    border: none;
    outline-color: aqua;
    font-size: 19px;
}


button{
    
    background: #FFBB42;
    border: none;
    width: 210px;
    height: 44px;
    color: #fff;    
}

.laptop{
    margin-top: 67px;
}

.service{
    width: 1700px;
    max-width: 100%;
/*    border: 3px solid red;*/
    margin: 0 auto;
    background: #fff;

}

.service_heading{
    display: flex;
    color: #394B50;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
}


.service_heading h2{
    font-size: 30px;
}
.service_heading p{
    font-size: 16px;
}



.service_container{
    display: flex;
    width: 1170px;
    max-width: 100%;
    height: 450px;
/*    border: 3px solid black;*/
    margin: 15px auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

}

[class^="services"]{
    width: 445px;
    height: 150px;
    font-size: 16px;
/*    border: 3px solid black;*/
    box-sizing: border-box;
    margin-right: 50px;
    

}


.about_us{
    display: flex;
    width: 1700px;
/*    border: 3px solid #08c;*/
    height: 620px;
    margin: 0 auto;
    background: #ffc155;
    align-items: center;
    color: #fff;
    
}

.about_us_img img{

    
    
}

.about_us_text{
/*    border: 3px solid red;*/
    width: 510px;
    margin: auto;
    
}


.about_us_text h2{
    font-size: 30px;
    color: #fff;
/*    padding: 30px 0;*/
    font-weight: 200;
}

.about_us_text p{
    font-size: 13px;
    font-weight: 200;
    padding: 18px 0;
    line-height: 23px;
}


.about_us_text a{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    font-size: 14px;
    transition: 0.5s;
    border: 1px solid #FFC155;
    
    
    
}

.about_us_text a:hover{
    border: 1px solid #E7AD48; 
    box-sizing: border-box;
    background: gray;
}

.choos_your_price_content{
    background: #e7edf3;
    width: 1700px;
    height: 940px;
/*    border: 2px solid blue;*/
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}



.price_heading{
    margin: 135px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.price_heading h2{
    font-size: 30px;
    padding: 8px;
    color: #394b50;
    text-transform: uppercase;
    
}

.price_heading p{
    font-size: 18px;
    color: #75888d;
}

.plan{
    display: flex;
    width: 1170px;
/*    border: 3px solid #000;*/
    justify-content: space-between;
    margin: 60px auto;
    
}


.basic{
/*    padding: 88px;*/
    height: 440px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: 0.4s;

}

.primium h2{
    
    font-size: 25px;
    color: #818b95;
    text-transform: uppercase;
}


.primium:hover{
    background: #709DCA;
    height: 500px;

}
.basic:hover{
    background: #709DCA;
    height: 500px;
       

}
.gold:hover{
    background: #709DCA;
    height: 500px;

}



.primium li{
    padding: 5px;
}

.primium li:nth-child(1n):hover{
    
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}


.basic li{
    padding: 5px;
}

.basic li:nth-child(1n):hover{
    
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}


.gold li{
    padding: 5px;
}

.gold li:nth-child(1n):hover{
    
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.price a{
    padding: 10px;
    background: #FFBB42;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.basic h2{
    font-size: 25px;
    color: #818b95;
    text-transform: uppercase;
    
}
.basic h2{
    font-size: 25px;
    color: #818b95;
    text-transform: uppercase;
    
}

.gold h2{
    font-size: 25px;
    color: #818b95;
    text-transform: uppercase; 
    
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



.price h2{
    font-size: 60px;
    color: #ffbb42;
    padding: 0 32px;
    
}


.price p{
    font-size: 20px;
    color: #818b95;
    padding: 0 32px;
    
}

.price ul{
    font-size: 14px;
    color: #b5bbc1;
    padding: 30px;
    list-style: none;
    
}

.primium{
    
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: 0.4s;
    
}


.gold{
    
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: 0.4s;
    
}


.how_it_work{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1700px;
    height: 860px;
    margin: 0 auto;
/*    border: 3px solid red;*/
    
}

.how_it_work__steps{
    display: flex;
    width: 1170px;
}

.how_it_work{
    text-align: center;
    position: relative;
    
    
}

[class^="how_it_work__step"]{
    padding: 0 30px;
}

.how_it_work__text{
    margin: 150px;
    color: #394b50;
    font-weight: 100;
}

.how_it_work__text h2{
    text-transform: uppercase;
    font-size: 30px;
}

.how_it_work__text p{
    font-size: 16px;
    
}
.text h3{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
}

.text p{
    color: #7b7b7b;
    line-height: 25px;
    font-size: 16px
    
}

.how_it_work_button{
    margin-top: 90px;
    
    
}

.how_it_work_button a{
    text-decoration: none;
    padding: 14px 30px;
    background: #ffb024;
    color: #fff;
    text-transform: uppercase;
    border-radius: 1px;
    
}


.how_it_work__arrow_1{
    position: absolute;
    left: 500px;
    top: 360px;
    
}
.how_it_work__arrow_2{
    position: absolute;
    left: 782px;
    top: 470px;
    
}
.how_it_work__arrow_3{
    position: absolute;
    left: 1080px;
    top: 360px;
    
}

.happy_clients{
/*    min-width: 1700px;*/
    width: 1700px;
    height: 910px;
    background: #ffc155;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.happy_clients__text{
    position: relative;
    top: 143px;
    color: #fff;
    text-align: center;
    
}
.happy_clients__text h3{
    font-size: 30px;
    text-transform: uppercase;
    padding: 2px;
    
}


.happy_clients__block{
    width: 1170px;
    height: 500px;
/*    border: 3px solid blue;*/
    position: relative;
    top: 205px;
    
    
    
}


[class^="happy_clients__comments"]{
    background: #fff;
    display: flex;
    width: 565px;
    height: 240px;
/*    border: 2px solid red;*/
    justify-content: space-between;
    
}

.happy_clients__comments_1{
    position: absolute;
    top: 0px;
    left: 0px;
}
.happy_clients__comments_2{
    position: absolute;
    top: 0px;
    right: 0px;
}


.happy_clients__comments_3{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.happy_clients__comments_4{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.happy_clients__face_1{
    position: relative;
    top: 33px;
    left: 20px;
}
.happy_clients__face_2{
    position: relative;
    top: 10px;
    left: -5px;
}
.happy_clients__face_3{
    position: relative;
    top: 13px;
    left: 11px;
}
.happy_clients__face_4{
    position: relative;
    top: 38px;
    left: 3px;
}


.happy_clients__com{
    color: #000;
    width: 355px;
    position: relative;
    top: 50px;
    right: 25px;
    line-height: 20px;
}

.happy_clients__com p{
    font-size: 13px;
    color: #7b7b7b;
    
}

.happy_clients__name{
    margin: 17px auto;
    text-transform: uppercase;
    
}.happy_clients__name spam{
    color: #f6772c; 
    
}



.happy_clients__open_breaket{
    font-size: 30px;
    position: absolute;
    top: 2px;
    left: -17px;
}




.happy_clients__close_breaket{
    font-size: 30px;
    display: inline-block;
    transform: scale(1, -1);
    position: absolute;
    top: 75px;
    left: 250px;
}






















































































