


.container{
    position: absolute;
    left: 500px;
    width: 600px;
    height: 100px;
    background-color: lawngreen;
    display: flex;
    top: 300px;
    border-radius: 50px

    
}

.container:hover{
    display: none;
   

    
}



h1{
    
    
    
    color: midnightblue;
    margin: auto;
    
    
}



img{
    position: absolute;
    left: 0px;
    right: 200px;
    bottom: 230px;
    top: 0;
    margin: auto;
    z-index: -1;
    width: 60px;
}
